---
import { IoIosMail } from "react-icons/io";
import { FaPhoneAlt } from "react-icons/fa";
import { IoLocationSharp } from "react-icons/io5";
---
<section>
    <div>
        <span> <IoIosMail/> martin@martincesarsky.com.ar</span>
        <span> <FaPhoneAlt/> 011 4704-6925</span>
        <span> <IoLocationSharp/> Suc. C.A.B.A: Ramallo
            2300, C.A.B.A.
            <br>
            <br>
            Suc. San Isidro (Vte.
            López a Tigre): Rivadavia
            154 Of. 603</span>
        </div>
</section>

<style>
    section{
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        margin-top: 50px;
        background-color: rgb(34, 42, 42);
        color: white;
        padding: 1rem;
        
    }
</style>