.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #333333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  z-index: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar.scrolled {
  z-index: 1000;
}

h1 {
  margin: 0px;
}
.logoContainer {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logoContainer img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.navLinksContainer {
  height: 100%;
  width: 42%;
  display: flex;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0px;
  margin: 0px;
  gap: 15px;
}
.navLinks li {
  position: relative;
  list-style: none;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: -20%;
  width: 140%;
  height: 100%;
  background-color: #a71821;
  transform: skew(35deg);
}
.navLinks li a {
  color: #333333;
  text-decoration: none;
  z-index: 1;
  font-size: 1.2rem;
  font-family: "Manrope", sans-serif;
  opacity: 0;
  transform: translateX(-400px);
  animation: slideIn 0.5s ease-in-out forwards;
}
.navLinks li a:hover {
  font-weight: bolder;
}

/* Retrasar el inicio del movimiento de cada enlace */
.navLinks li:nth-child(5) a {
  animation-delay: 0.1s;
}
.navLinks li:nth-child(4) a {
  animation-delay: 0.2s; /* Se mueve después de que el primero termine */
}
.navLinks li:nth-child(3) a {
  animation-delay: 0.3s; /* Se mueve después del segundo */
}
.navLinks li:nth-child(2) a {
  animation-delay: 0.4s;
}
.navLinks li:nth-child(1) a {
  animation-delay: 0.5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .navbar {
    justify-content: flex-end;
  }
  .navLinksContainer {
    width: 60%;
    margin-right: 20px;
  }
  .logoContainer {
    justify-content: flex-end;
  }
  .navLinks li a {
    text-align: center;
    animation: none;
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 930px) {
  .navbar {
    position: fixed;
    top: 0;

    color: #333333;
    height: 60px;
    justify-content: space-between;
    gap: 0px;
  }
  .navLinksContainer {
    height: 100%;
    width: 70%;
    display: flex;
    margin-right: 0px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }
  .navLinks li a {
    font-size: 0.7rem;
    text-align: center;
  }
  .logoContainer {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 710px) {
  .navLinksContainer {
    height: 100%;
    width: 80%;
    display: flex;
  }
  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    gap: 0px;
  }
  .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a71821;
    transform: skew(35deg);
  }
  .logoContainer {
    overflow: hidden;
  }
  .logoContainer img {
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
    padding-bottom: 5px;
  }
  .navLinks li a {
    width: 80%;
    font-size: 0.5rem;
    text-align: center;
  }
}
