---
import equipo from "../../public/images/equipo.jpeg"
---

<main>
    <div class="equipoContainer">
        <div class="equipoImageContainer" id="about">
            <img src={equipo.src} alt="equipo" class="equipoImage">
        </div>
        <div class="textContainer">
            <h2>Equipo</h2>
            <p>Somos un equipo dedicado a ofrecer
                soluciones inmobiliarias personalizadas,
                con un enfoque profesional y cercano.
                Especializados en compra, venta, alquiler
                y administración de propiedades,
                brindamos asesoramiento experto para
                ayudarte a tomar las mejores decisiones.</p>

        </div>
    </div>
</main>

<style>
    main{
        margin-top: 0px;
        height: 75vh;
        display: flex;
        justify-content: center;
    }
    .equipoContainer{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 35%;
        
    }
    .equipoImageContainer{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .equipoImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        transform: scaleX(-1);

    }
    .textContainer{
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding-top: 30px;
        
    }
    .textContainer h2{
        margin: 0px;
        width: 50%;
        font-size: 3.8rem;
        font-family: 'RalewayB', sans-serif;
        padding-bottom: 40px;
        
    }
    .textContainer::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 20%;
        height: 30px;
        
        border-bottom: 5px solid  #a71821;
        
    }
    
    .textContainer p{
        font-size: 1rem;
        width: 55%;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 0px;
    }
</style>