---
import Image from "astro/components/Image.astro";
import img from "../../public/images/imagentotal.jpg"
import img2 from "../../public/images/imagen.png"
import { IoSearch } from "react-icons/io5";

---

	<section>
        <div class="heroImage">
            <img src={img.src} alt="imagen" class="imagen">
            <div class="corteImagen2">
                <img src={img2.src} alt="imagen2" class="imagen2">
            </div>
            <div class="textoHero"> 
                <h1> Te ayudamos a encontrar,
                    alquilar o vender tu propiedad</h1>
                <div class="buscador">
                    <a href="https://www.globalreddeinmobiliarias.com/" target="_blank"> <IoSearch style={{fontSize: 24}}/> Buscar</a>
                    <p>Encontra tu propiedad ideal en nuestro <strong>buscador exclusivo</strong>. Descubri todas las opciones disponibles en <strong>Global Red de Inmobiliarias</strong> </p>
                </div>
            </div>
        </div>
    </section>


<style>
	
    .heroImage {
        position: relative;

        height: 80vh;
        display: flex;
        
    }
    .imagen {
        width: 100%;
        height: auto;
        object-fit: cover;
        
    }
    .corteImagen2{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 42%; 
        z-index: 1;

        display: flex;
        justify-content: end;
        align-items: start;
        overflow: hidden;
        pointer-events: none;
    }
    
    .imagen2{
        width: auto;
        height: 100%;
    }
    .heroImage::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: linear-gradient(to right, #000000, #0000007d, #590c1100);
    }
    
    .textoHero{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);

        color: white;
        text-align: center;
        width: 800px;
        
    }
    h1{
        padding-left: 15px;
        font-family: 'Manrope', sans-serif;
        font-size: 2.4rem;
        width: 57%;
        text-align: start;
        line-height: 1.1;
    }
    .buscador{
        display: flex;
        justify-content: flex-start;
        padding-left: 25px;
        padding-top: 10px;
        width: 100%;
        gap: 35px;
    }
    
    .buscador a{
        width: 40%;
        height: 47px;

        padding-right: 40px;
        border: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background-image: linear-gradient(to right, #a81820, #a81820, #590c11);
        color: white;
        
        font-family: 'ManropeB', sans-serif;
        font-size: 1.4rem;
        cursor: pointer;
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        text-decoration: none;
        gap: 7px;
    }
    .buscador p{
        margin: 0px;
        width: 30%;
        text-align: start;
        font-family: 'Manrope', sans-serif;
        font-size: 1rem;
        line-height: 1.4;
    }
    @media screen and (max-width: 930px) {
        .textoHero{
        width: 100%;
        
    }
    h1{
        width: 60%;
        
    }
    .buscador{
        padding: 0px;
        width: 100%;
    }
    @media screen and (max-width: 710px) {
        .textoHero{
            padding: 0px;
        }
        .heroImage {
        position: relative;

        height: 70vh;
        display: flex;
        
    }
        h1{
            width: 70%;
            padding-left: 0;
            font-size: 2rem;
        }
        .buscador{
            gap: 15px;
        }
        .buscador a{
            width: 30%;
            font-size: 1rem;
            padding-right: 15px;
            height: 40px;
        }
        .buscador p{
            width: 50%;
            font-size: 0.9rem;
        }
    }
}
</style>

